body,
.input,
.button {
    font: normal 16px Verdana;
    margin: 20px
}


/* Revisions */
#revisions {
    padding: 2em;
}

.revision-list {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
}

.revision-list-item {
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    display: block;
    margin: 0 0 1px;
    padding: 8px 15px;
    text-decoration: none;
}

.revision-list-item:hover {
    text-decoration: underline;
}

.revision-list-item .timestamp {
    padding-right: 2em;
}

.revision-list-item .revision {
    padding-right: 2em;
}

.revision-list-item .to-comments {
    padding-right: 2em;
}


.label {
    display: block;
    margin: 0 0 5px;
}

.input {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 100%;
}

.button {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.button:hover {
    background: #e8e8e8;
}

/***********/

body {
    padding: 0;
    margin: 0;
}

.flexStart {
    justify-content: flex-start;
}

.flexMiddle {
    justify-content: center;
}

.flexEnd {
    justify-content: flex-end;
}

.blueBackground {
    background: lightskyblue;
    border-bottom: 1px solid #777777;
}

.revision {
    font-family: "Input Mono", monospace;
}

.flexContainer {
    display: flex;
}

.flexItem {
    flex: 1;
}

.flexMain {
    flex: 2;
}

.flexColumn {
    flex-direction: column;
}

.fullHeight {
    height: 100vh;
}

.main {
    overflow: hidden;
    order: 2;
    padding: 0;
    margin: 0;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
}

.sidebar {
    width: 22%;
    background: white;
    padding: 4px 10px;
}

.sidebarLeft {
    order: 1;
}

.sidebarRight {
    order: 3;
}

#pdfcanvas {
    border: none;
}

.toc-entry {
    display: block;
}

footer {
    padding: 2px;
}

.documents-list div {
    display: inline-block;
    padding: 2em;
    margin: 2em;
    width: 150px;
    height: 200px;
    border: 1px solid aaa;
    background: #fff;
    cursor: pointer;
}

.markdown-comment textarea {
    font-family: 'Input Mono', monospace;
}

.debug {
    background: rgba(200, 0, 0, 0.8);
    position: absolute;
    bottom: 0px;
    padding: 6;
}

button {
    padding: 3px;
    margin: 2px;
    background-color: purple;
    border-color: plum;
    color: white;
    font-family: 'Input Mono', monospace;
    border-style: inset;
    border-width: 0.4em;
    font-weight: bold;
}

/* .path {
    font-family: monospace;
    font-weight: bold;
}
.path a {
    text-decoration: underline;
} */


.markdown-comment {
    padding: 4px;
    background-color: #ccc;
}

.markdown-comment textarea {
    font-size: 10pt;
}

.markdown-comment hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.comment {
    font-size: 0.8em;
    background-color: rgba(200,200,100,0.2);
    margin-bottom: 1em;
    border: 1px solid black;
}

.comment .body p {
    margin: 6px;
}

.comment .body {
    background-color: rgba(200,200,100,0.2);
    padding: 0.5em;
    border-bottom: 1px dashed black;
}

.comment .subject {
    background-color: rgba(200,200,100,0.2);
    font-weight: bold;
    font-size: 1.0em;
}
.comment .author {
    font-family: monospace;
    float: right;
}
.comment div {
    padding: 0.5em;
}

.comment img, .markdown-comment img {
    width: 100%;
}

.sidebar,.main {
    scroll-behavior: auto;
    overflow: scroll;
}

.all-comments div {
    border: 1px solid burlywood;
    background-color: bisque;
    padding: 6px;
    margin: 2px;
}

.all-comments div a {
    color: black;
    text-decoration: none;
}

.path,
.fbui,
.pager {
    display: inline-block;
    padding-right: 2em;
}

.path a {
    text-decoration: underline;
    color: blue;
}
